{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda earum libero, nesciunt nostrum quaerat ratione recusandae sint suscipit? A assumenda cum eaque eos libero nostrum quae saepe sapiente soluta.</p>
{% endblock %}