{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <section class="home">
        <header class="jumbotron">
            <div class="logo">Mardizza !!!</div>
            <h1>La <b>première</b> application de choix de la <b>Pizza</b> du <b>mardi</b>&nbsp;!!!</h1>
            <button class="btn-secondary"><span class="icon-user"></span>Créer mon compte</button>
        </header>
    </section>
{% endblock %}