{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <main class="home">
        <header class="jumbotron">
            <div class="container">
                <div class="logo">Mardizza!!!</div>
                <h1>La <b>première</b> application de choix de la <b>Pizza</b> du <b>mardi</b>&nbsp;!!!</h1>
                <button class="btn-secondary"><span class="icon-user"></span>Créer mon compte</button>
            </div>
        </header>

        <section class="cta">
            <div class="container">
                <div class="cta-cards">
                    <div class="cta-card">
                        <div class="cta-card-head">
                            <div class="icon-group"></div>
                            <h2>Commande de groupe&nbsp;? <br class="visible-lg visible-xl visible-xxl">Ouaip&nbsp;!</h2>
                        </div>
                        <div class="cta-card-content">
                            <p>Fatigué de compter sur des bouts de papier&nbsp;: qui a pris quoi, qui doit combien&nbsp;?</p>
                            <p>La commande de groupe est au coeur de <span class="logo">Mardizza!!!</span></p>
                        </div>
                    </div>

                    <div class="cta-card">
                        <div class="cta-card-head">
                            <div class="icon-loyalty-card"></div>
                            <h2>Carte de fidélité&nbsp;? <br class="visible-lg visible-xl visible-xxl">Yup&nbsp;!</h2>
                        </div>
                        <div class="cta-card-content">
                            <p>Votre pizzeria propose une carte de fidélité&nbsp;?</p>
                            <p><span class="logo">Mardizza!!!</span> gère automatiquement les remises et leurs règles.</p>
                        </div>
                    </div>

                    <div class="cta-card">
                        <div class="cta-card-head">
                            <div class="icon-stats"></div>
                            <h2>Statistiques&nbsp;? <br class="visible-lg visible-xl visible-xxl">Bien sûr&nbsp;!</h2>
                        </div>
                        <div class="cta-card-content">
                            <p><span class="logo">Mardizza!!!</span> vous permet de garder la trace des pizzas achetées, leurs prix, leur fréquence, leur nombre, bref des stats&nbsp;!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="features-teaser">
            <div class="container">
                <div class="features-illustration">
                    <div class="features-illustration-top">
                        <div class="icon-heart"></div>
                        <div class="icon-comment"></div>
                    </div>

                    <div class="featured-pizza">
                        <img src="{{ asset('assets/images/home-pizza-card-pizza.png') }}" alt="">
                    </div>

                    <div class="features-illustration-bottom">

                        <div class="featured-pizza-name">
                            <p>Pizza du mois</p>
                        </div>

                        {# rating stars #}
                        <div class="featured-pizza-rating">
                            {% for i in 1..4 %}
                                <span class="icon-star"></span>
                            {% endfor %}
                            <span class="icon-star-o"></span>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
