<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mardizza</title>
    <link rel="stylesheet" href="{{ asset('assets/style/app.css') }}">
</head>

<body>
{% block header %} {{ include('@App/partials/header.html.twig') }} {% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}

<script src="{{ asset('assets/js/app.js') }}"></script>
</body>
</html>
