.cta-card {
    background-color: $secondary;
    text-align: center;
    padding: 1em 0;

    @media screen and (min-width: $xs-min) {
        padding: 1em 0 2em;
        margin-bottom: 2em;
        border-radius: $radius;
        box-shadow: $card-shadow;
    }

    .cta-card-head {
        color: #fff;

        [class*="icon-"] {
            font-size: 48px;
            margin-bottom: 1rem;
        }

        h2 {
            font-size: 1em;
            font-weight: $font-weight-semi-bold;
            margin-bottom: 1em;
        }
    }

    .cta-card-content {
        font-size: 14px;

        .logo {
            color: #fff;
            font-size: 1.75em;
        }
    }

    // no bottom border on last cta card
    &:last-child { .cta-card-content { border-bottom: none; } }
}
