[class*="dialog-"] {

    .dialog-body {
        .form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 0;

            [type="submit"] {
                align-self: flex-end;

                &.register-submit {
                    margin-top: .5em;
                }
            }
        }
    }

    .dialog-footer {
        .action-buttons {
            display: flex;
            flex-direction: row;

            @media screen and (max-width: $xxs-max) {
                flex-direction: column;

                & > * { margin-bottom: .5em; }
            }

            & > * { margin-right: .5em; }
        }
    }
}
