.masthead {
    background-color: $primary;
    opacity: .75;
    color: #fff;
    width: 100%;
    height: 4em;
    position: fixed;

    display: flex;
    align-items: center;

    @media screen and (min-width: $md-min) {
        height: 6em;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        // minimum screen size small aesthetic padding
        @media screen and (max-width: $xxs-max) {
            padding: 0 1em;
        }

        // center logo on small screens
        @media screen and (max-width: $sm-max) {
            justify-content: space-around;
        }

        .logo {
            font-size: 2.5em;

            // center logo on small screens
            @media screen and (max-width: $sm-max) {
                position: absolute;
                text-align: center;
            }

            @media screen and (min-width: $md-min) {
                font-size: 3.5em;
            }

            &:hover {
                a {
                    text-decoration: none;
                }
            }
        }

        .login {
            margin-left: auto;

            @media screen and (min-width: $md-min) {
                font-size: 1.5em;
            }
        }
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            color: $secondary;
            text-decoration: underline;
        }
    }
}