<div id="session-notifications">
    {% for msg in app.session.flashBag.get('success') %}
        <div class="session-notification" data-type="success" data-message="{{ msg }}"></div>
    {% endfor %}

    {% for msg in app.session.flashBag.get('error') %}
        <div class="session-notification" data-type="error" data-message="{{ msg }}"></div>
    {% endfor %}
</div>
