<header class="masthead scalable">
    <div class="container header-content">
        <div class="flex-item-util"></div>
        <div class="logo"><a href="{{ path('home') }}">Mardizza!!!</a></div>

        {% if user is not defined %}
            <div class="login"><a href="{{ path('login') }}">Log in</a></div>
        {% endif %}
    </div>
</header>