<div id="dialog-account-creation" class="dialog-default dialog-sm">
    <div class="dialog-header">Créer mon compte sur Mardizza!!!</div>
    <div class="dialog-body">
        {% include '@App/partials/forms/register.html.twig' %}
    </div>
    <div class="dialog-footer">
        <div class="action-buttons">
            <button class="btn-grey dismiss"><span class="icon-not-allowed"></span> Annuler</button>
            <button class="btn-info dialog-trigger" data-target="#dialog-login">J'ai déjà un compte</button>
        </div>
    </div>
</div>
