{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <main class="login">
        <div class="container">
            <h1>Login / Creation page</h1>
        </div>
    </main>
{% endblock %}
