.features-teaser {
    margin: 0 -1em; // nullify container padding on xxs screens
    background-color: $primary-faded;

    @media screen and (min-width: $xs-min) {
        padding: 2em 0;
    }

    .features-container {
        @media screen and (min-width: $lg-min) {
            display: flex;

            & > * {
                flex: 1 1 50%;
            }
        }

        .features-illustration {
            background: url('../images/home-pizza-card-bg.jpg');
            background-repeat: no-repeat;
            background-color: $primary-dark;
            background-position: center center;
            background-size: cover;
            padding: 1em;

            @media screen and (min-width: $xs-min) {
                padding: 2em;
                border-radius: $radius;
                box-shadow: $card-shadow;
            }

            @media screen and (min-width: $lg-min) {
                margin-right: 2em;
            }

            .features-illustration-top, .features-illustration-bottom {
                display: flex;
                justify-content: space-between;
            }

            .features-illustration-top {
                font-size: 1.5em;

                @media screen and (min-width: $xs-min) {
                    font-size: 2em;
                }

                @media screen and (min-width: $md-min) {
                    font-size: 2.5em;
                }

                @media screen and (min-width: $lg-min) {
                    font-size: 3.5em;
                }

                .icon-heart {
                    color: $red;
                }

                .icon-comment {
                    color: #fff;
                }
            }

            .featured-pizza {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 70%;

                    @media screen and (min-width: $xs-min) {
                        width: 50%;
                    }
                }
            }

            .features-illustration-bottom {
                align-items: flex-end;

                .featured-pizza-name p {
                    font-family: $font-family-logo;
                    color: #fff;
                    font-size: 1.5em;
                    margin-bottom: 0;
                    line-height: .75;

                    @media screen and (min-width: $xs-min) {
                        font-size: 2em;
                    }

                    @media screen and (min-width: $md-min) {
                        font-size: 2.5em;
                    }

                    @media screen and (min-width: $md-min) {
                        font-size: 3em;
                    }
                }

                .icon-star, .icon-star-o {
                    font-size: 1em;
                    color: #ffcc00;

                    @media screen and (min-width: $xs-min) {
                        font-size: 1.25em;
                    }

                    @media screen and (min-width: $md-min) {
                        font-size: 1.5em;
                    }

                    @media screen and (min-width: $md-min) {
                        font-size: 2em;
                    }
                }
            }
        }

        .features-text {
            padding: 1em 1em 0;
            font-size: 14px;
            text-align: justify;

            @media screen and (min-width: $xs-min) {
                padding: 2em 2em 0;
            }

            @media screen and (min-width: $md-min) {
                font-size: 1em;
            }

            @media screen and (min-width: $lg-min) {
                padding: 2em 0 0 2em;
            }

            .logo {
                font-size: 1.5em;

                @media screen and (min-width: $md-min) {
                    font-size: 1.65em;
                }
            }
        }
    }
}
